@media only screen and (max-width: 600px) {
	body {
		padding: 10px !important;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #2b2b2b;
		color: #f7f7f7 !important;
	}

	nav ul li a {
		text-decoration: none;
		color: #f7f7f7 !important;
	}

	pre, code {
		background-color: #393939 !important;
	}

	a {
		color: #FFA143 !important;
	}
}

body {
	padding: 0;
	margin: 0 auto;
	max-width: 52em;
	color: #222222;
	font-family: "Gill Sans", sans-serif;
}

a {
	color: #006178;
}

h2 {
	font-size: 1.25em;
}

nav {
	margin-top: 1em;
	margin-bottom: 1.5em;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 0;
	padding: 0;
	padding-right: 1.5em;
}

nav ul li a {
	text-decoration: none;
	color: #222222;
}

pre {
	background-color: #f0f0f0;
	padding: 10px;
	overflow-x: auto;
}

code {
	background-color: #f0f0f0;
}

footer {
	margin-top: 1.5em;
}
